@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #d7f7fc;
  background-color: #005eff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.backgroundBlur {
  background: rgb(0 43 51 / 87%);
  padding: 1em;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 4.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

img {
  border-radius: 10px;
  margin: 2px;
}

.title {
  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
}

.news-title {
    color: #001333;
}

li {
  padding: 10px;
}

li:hover {
  background: #005eff;
  color: #ccdfff;
}

.article--link {
  margin-top: 2em;
  text-decoration: underline;
}

.article--link:hover {
  opacity: 50%;
}

.nav--active-location {
  background:rgb(0 43 51 / 25%);
}