@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: #d7f7fc; */
  color: #005CFF;
  background-color: #FFFBE3;
  background-image: url('../src/assets/default-images/default-news.jpg');

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.backgroundBlur {
/*   background: rgb(0 43 51 / 87%); */
  padding: 1em;
   box-shadow: 2px 2px 20px 2px rgb(0, 94, 255, .5);
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 4.5px );
  border-radius: 10px;
  background: #FFFBE3;
  border: 1x solid #005CFF; 
}

img {
  border-radius: 10px;
  margin: 2px;
}

.title {
  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
}


.news-title {
    /* color: #001333; */
    color: black;
}

.headline {
  font-family: 'EB Garamond', serif;
  font-size: larger;
}

p { 
  font-size: smaller;
}

li {
  padding: 10px;
}

li:hover {
  background: #005eff;
  color: #ccdfff;
}

.article--link {
  margin-top: 2em;
  text-decoration: underline;
}

.article--link:hover {
  opacity: 50%;
}

.nav--active-location {
  background:rgb(0 43 51 / 25%);
}

.nav-bar {
  background: #FFFBE3
}
